<h1>Editing Mystery</h1>

<%= render 'form', mystery: @mystery %>

<%= link_to 'Show', @mystery, :class => "btn btn-primary btn-sm" %> <%= link_to 'Back', mysteries_path, :class => "btn btn-primary btn-sm" %>
